<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
      <% include header %>
  </head>
  <body class="container">
    <h1>Whisper Protocol</h1>
    <div class="form-row">
        <div class="form-group">
          <label>Topic : </label>
          <label><%= topic %></label>
        </div>
    </div>
    <div class="form-row" style="min-height:200px; border:1px solid grey; margin: 10px 0">
        <div id="log" style="padding: 0 20px">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group">
          <label>Message</label>
          <textarea id="payload" class="form-control"></textarea>
        </div>
        <button type="button" name="button" id="send_btn" class="btn btn-primary">SEND</button>
    </div>
  </body>
  <script src="/javascripts/whisper.js"></script>
  <script src="/javascripts/hexutils.js"></script>

  <script>
    $( document ).ready(function() {      
      var nickName = '<%=nickName%>';
      var password = '<%=password%>';
      var encryptionType = '<%=encryptionType%>';
      var topic = '<%=topic%>';

      var whisper = new Whisper("http://localhost:8545",encryptionType,password,nickName,topic);
      whisper.setTextArea($('#log'));
      
      $("#send_btn").click(function(){ whisper.sendMessage($('#payload').val());$('#payload').val(''); });


    });
  </script>
</html>